body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #fff;
}

#scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #4183c4;
  transition: all 0.3s ease-in;
  background-color: transparent;
}

#scroll-up-btn:hover {
  color: #ea3511;
}

#scroll-up-btn svg {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.ui.main.fluid.container {
  margin-top: 4em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  width: calc(100% - 10px);
  padding: 0;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.item {
  padding-left: 10px !important;
  user-select: none;
  cursor: pointer;
}

.item.active {
  background: rgba(65, 131, 196, 0.24);
  color: #444;
}
.item:hover {
  background: rgba(65, 131, 196, 0.8);
  color: #eee;
}

.ui.menu .item:hover {
  background: transparent !important;
}

.ui.menu .item:before {
  background: transparent !important;
}

.ui.menu .item.batched-request{
  visibility: hidden;
  font-weight: 500;
}

.content {
  padding: 5px;
}

.sl-no {
  margin-right: 5px;
  font-weight: 700;
}

.sl-no:after {
  content: ".";
}

.ui.internally.celled.grid {
  min-height: 50vh;
}

.ui.celled.grid > .row > .six.wide.column.event-column {
  padding: 0;
}
.ui.celled.grid > .row > .ten.wide.column.details-column {
  padding: 0;
}

.event-column h3,
.details-column h3 {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  background: #4183c4;
  color: #fff;
}

#event-list {
  margin: 0.1rem 0;
}

#property-table {
  border: none !important;
  margin: 0.1rem 0;
}

.table {
  display: none;
}

table.active {
  display: block;
}

table td span {
  display: table-cell;
  word-break: break-word;
}

.check {
  color: green;
}

.led {
  color: hsla(339, 100%, 48%, 0.9);
  -webkit-animation: led 0.8s infinite;
  -moz-animation: led 0.8s infinite;
  -ms-animation: led 0.8s infinite;
  -o-animation: led 0.8s infinite;
  animation: led 0.8s infinite;
}

/* keyframes */
@-webkit-keyframes led {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes led {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
